*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 62.5%;
     scroll-behavior: smooth;
     scroll-padding-top: 10vh;
}
#about, #courses, #new-courses {
  scroll-margin-top: -10vh;
}

body {
    box-sizing: border-box;
    font-size: 1.6rem;
    background: linear-gradient(90deg, #000000, #330867);

}

nav {
    height: 12vh;
    background-color: hsla(0, 0%, 0%, 0.1);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 2%;
    z-index: 10000;
    background: transparent;
    left: 0;
}

.nav-container {
    height: 100%;
    width: 70%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 25rem;
    background: hsla(0, 0%, 0%, 0.2);
    backdrop-filter: blur(10px);
}

.logo {
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 2rem;
    color: #ffffff;
    /* gap: 1rem; */
    letter-spacing: 1px;
    font-size: large;
}

.logo-img {
    height: 6vh;
    color: white;
    
}

.nav-links {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    color: #ffffff;
    font-weight: 600;
    font-size: 1.8rem;
    letter-spacing: 0.1rem;    
    padding-right: 2rem;
    cursor: pointer;
}

.nav-links a {
    text-decoration: none;
    color: #cfcfcf;
    padding: 0.5rem 1rem;
    border-radius: 25rem;
    &:hover {
        color: #ffffff;
        background: #330867;
        transition: ease 0.5s;
    }
}

.login {
    height: 100%;
    display: flex;
    
    align-items: center;
    justify-content: center;
    padding-right: 2rem;
    color: #ffffff;
    font-weight: 600;
    font-size: 1.8rem;
    letter-spacing: 0.1rem;
    cursor: pointer;
    &:hover {
        transform: scale(1.1);
        transition: ease 0.5s;
    
    }
}

.login a {
    text-decoration: none;
    color: #ffffff;
    background: #330867;
    border: solid 2px #ffffff;
    padding: 0.8rem 1.5rem;
    border-radius: 2rem;

    
   
}

section {
    height: 100vh;
    width: 100%;
}


.home-container {
    height: 100%;
    margin-top: 5%;
    width: 90%;
    justify-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin: 0 auto; */
    gap: 5%;
}

.container-left {
    height: 80%;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #ffffff;
}
.container-right {
    height: 80%;
    width: 40%;
    display: flex;
    flex-direction: column;    
    justify-content: center;
    color: #ffffff;
}
.home-image-cont {
    height: 80%;
    border-radius: 2rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px 8px rgb(170, 0, 255), 10px 10px 8px #330867, 15px 15px 8px #000000;
}
.home-image-cont img {
    object-fit: cover;
    border-radius: 2rem;

}


.container-left h1 {
    font-size: 6rem;
    font-weight: 700;
    margin-bottom: 2rem;
    justify-self: flex-start;

}

.container-left p {
    font-size: 1.8rem;
    font-weight: 400;
    margin-bottom: 3rem;
    line-height: 1.5;
}

.container-left button {
    font-size: 1.8rem;
    font-weight: 600;
    padding: 1rem 2rem;
    border-radius: 2rem;
    border: none;
    background: #330867;
    border: solid 2px #ffffff60;
    color: #ffffff;
    cursor: pointer;
    width: fit-content;
    margin-bottom: 1rem;
    &:hover {
        transform: scale(1.1);
        transition: ease 0.5s;
        border: 2px dashed #ffffff60;
    }
}

.about {
    background: #160f0f18;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.about-container {
    height: 100%;
    margin-top: 5%;
    width: 90%;
    justify-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.about-container h2 {
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 2rem;
    justify-self: flex-start;
    color: #ffffff;
}

.about-container p {
    font-size: 1.8rem;
    font-weight: 400;
    margin-bottom: 3rem;
    line-height: 1.5;
    color: #ffffff;
    text-align: center;
    width: 60%;
}

.instructor {
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}
.rohit-negi , .aditya-tondon{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.intructor-info {
    display: block;
}
.intructor-info a {
    text-decoration: none;
    color: #ffffff;
    padding: 1rem 2rem ;
    background: #e4586f;
    border-radius: 2rem;
}
#m-y-i {
    border-bottom: 2px solid #e4586f;
    padding-bottom: 1rem;
}
.rohit-negi img , .aditya-tondon img {
    border-radius: 50%;
    border: 5px dashed #330867;
    object-fit: cover;

}

.courses , .new-courses{
    /* background: linear-gradient(300deg, #000000, #330867); */
    
    background: #050505;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

 #toph1 {
    color: #ffffff;
    margin-top: 10rem;
    font-size: 4rem;
    font-weight: 800;
    border-bottom: #330867 5px solid ;
    border-top: #330867 5px solid ;
    border-bottom-left-radius: 3rem;
    border-top-right-radius: 3rem;
    padding: 1rem;
}

.new-courses #toph1 {
    border-bottom: #670808 5px solid ;
    border-top: #670808 5px solid ;
}

.courses-container , .new-courses-container {
    height: 100%;
    /* margin-top: 5%; */
    width: 90%;
    justify-self: center;
    display: flex;
    gap: 3rem;
    align-items: center;
    justify-content: center;
}

.course-card {
    height: 80%;
    box-shadow: inset 0 0 10px 1px #f85b00;
    background: linear-gradient(146deg, #0f1014, #140f18, hsl(0, 0%, 14%));
    width: 25%;
    border-radius: 5rem;
    padding: 0.7rem;
}

.card-img-cont {
    border-radius: 5rem;
    box-shadow: inset 0px 0px 10px rgba(0,0,0,0.9);
    /* border: #330867 3px solid; */
    width: 100%;
    height: 45%;
    overflow: hidden;
}

.card-image img {
    object-fit: cover;
    border-radius: 5rem;
    position: relative;
  z-index: -2;
    
}

.below-img-cont {
    height: 55%;
    padding: 2rem;
    overflow: hidden;
    
}

.below-img-content {
    color: #ffffff;
}
.below-img-content h6 , .below-img-content h5 {
    background: #000000;
    width: fit-content;
    font-weight: 500;
    padding: 1rem;
    border-radius: 2rem;
    display: inline-block;
    margin-right: 1rem;
}
.lectbta {
    justify-content: space-between;
    width: 100%;
    display: flex;
}
.new-courses-container .lectbta :nth-child(2) {
    background: red;
    padding: 1rem;
    text-align: center;
    width: 20%;
} 

#foo {
  width: 30%;
  background: #eb7070;
  animation-duration: 3s;
  border-radius: 50%;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  margin: auto;
  animation-name: corner;
}

@keyframes corner {
  0% {
    border-top-left-radius: 1% 50%;
  }
  12.5% {
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
  }
  25% {
    border-top-right-radius: 1% 50%;
  }
  25.001% {
    border-top-right-radius: 50% 1%;
  }
  37.5% {
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
  }
  50% {
    border-bottom-right-radius: 50% 1%;
  }
  50.001% {
    border-bottom-right-radius: 1% 50%;
  }
  62.5% {
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
  }
  75% {
    border-bottom-left-radius: 1% 50%;
  }
  75.001% {
    border-bottom-left-radius: 50% 1%;
  }
  87.5% {
    border-bottom-left-radius: 50%;
    border-top-left-radius: 50%;
  }
  100% {
    border-top-left-radius: 50% 1%;
  }
}


.new-courses-container .course-card {
    height: 90% !important;
    width: 30%;
    padding: 1rem;
}


#bta {
    background: #330867;
}
.below-img-content p {
    font-weight: 100;
    line-height: 0.9;
    color: #c3c3c3;
}

#toph3 {
    color: #ffffffad;
    width: 40%;
    font-weight: 200;
    margin-top: 3rem;
    text-align: center;
    
}


.new-courses-container .new-lectbta {
    text-align: center;
    justify-content: center;
}

.new-courses-container .new-lectbta {
    justify-content: space-between;
    width: 100%;
    display: flex;
}
.new-lectbta :nth-child(2) {
    background: red;
    padding: 1rem;
    text-align: center;
    width: 20%;
}











/* new course card effect */
.block {
  position: relative;
  /* margin: 300px auto 0; */
  /* width: 500px; */
  /* height: 250px; */
  z-index: ;
  background: linear-gradient(0deg, #000, #272727);
}

.block:before, .block:after {
  content: '';
  position: absolute;
  left: -2px;
  top: -2px;
  background: linear-gradient(45deg, #fb0094, #0000ff, #00ff00,#ffff00, #ff0000, #fb0094, 
    #0000ff, #00ff00,#ffff00, #ff0000);
  background-size: 400%;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  z-index: -1;
  animation: steam 20s linear infinite;
}

@keyframes steam {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.block:after {
  filter: blur(50px);
}



.coder-army-text {
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
}

.banner {
    width: 100%;
    height: 100vh;
    position: relative;
}

.banner video {
    width: 100%;
    height: 100%;
    

}
.banner-text {
    position: absolute;
    top: 0;
    left: 0;
    background: #000;
    height: 100%;
    width: 100%;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10rem;
    font-weight: 900;
    mix-blend-mode: multiply;
    letter-spacing: 1rem;
    

}









/* effect for coder Army Text Section */
.text-effect-wrapper,
.text {
  &::before,
  &::after {
    content: "";
    position: absolute;
    inset: 0;
    pointer-events: none;
  }
}

.text-effect-wrapper {
  /* Can be anything light-colored */
  --spotlight-color: white;

  overflow: hidden;
  position: relative;

  /* Shimmer animation */
  &::before {
    animation: shimmer 5s infinite linear;
    background: 
      radial-gradient(circle, var(--spotlight-color), transparent 25%) 0 0 / 25% 25%,
      radial-gradient(circle, var(--spotlight-color), black 25%) 50% 50% / 12.5% 12.5%;
    inset-block-start: -100%;
    inset-inline-start: -100%;
    mix-blend-mode: color-dodge;
    z-index: 3;
  }

  /* Extra filter to boost colors and contrast */
  &::after {
    backdrop-filter: blur(1px) brightness(90%) contrast(150%);
    z-index: 4;
  }
}

@keyframes shimmer {
  100% {
    transform: translate3d(50%, 50%, 0);
  }
}

.text {
  /* Mask colors */
  /* Should be black and white */
  --background-color: black;
  --text-color: white;

  /* Text color */
  /* Can be anything */
  --color-1: red;
  --color-2: blue;

  /* Fuzzy white outline text */
  color: transparent;
  text-shadow: 
    0 0 0.02em var(--background-color), 
    0 0 0.02em var(--text-color),
    0 0 0.02em var(--text-color), 
    0 0 0.02em var(--text-color);

  /* Improve contrast of outline */
  &::before {
    backdrop-filter: blur(0.013em) brightness(400%);
    z-index: 1;
  }

  /* Add text color */
  &::after {
    background: linear-gradient(45deg, var(--color-1), var(--color-2));
    mix-blend-mode: multiply;
    z-index: 2;
  }
}

/* Alternative styling */
.coder-army-text:has(#option-toggle:checked) {
  & .text-effect-wrapper {
    --spotlight-color: orange;
    
    &::after {
      backdrop-filter: brightness(90%) contrast(150%);
    }
  }

  & .text {
    --angle: 5deg;
    --color-1: hsl(163, 100%, 51%);
    --color-2: hsl(295, 88%, 32%);
    --color-3: hsl(59, 100%, 50%);

    text-shadow: 
      0 0 0.03em var(--background-color),
      0 0 0.03em var(--text-color);
    
    &::before {
      backdrop-filter: brightness(150%) contrast(200%);
    }

    &::after {
      background: linear-gradient(var(--angle), var(--color-1), var(--color-2), var(--color-3));
      mix-blend-mode: color-dodge;
    }
  } 
}

/* === Pen styling, ignore */

.coder-army-text h1 {
  --font-size: clamp(6.25rem, 3.25rem + 15vw, 13.75rem);

  font: 700 var(--font-size)/1 "Lato", sans-serif;
  text-transform: uppercase;
  text-align: center;
  margin: 0;

  &:empty,
  &:focus {
    border: 2px dotted white;
    min-width: 1ch;
    outline-offset: 5px;
  }
}

.coder-army-text {
  background: black;
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.coder-army-text label {
  background-color: hsl(240deg, 20%, 50%);
  border-radius: 5px;
  color: #fff;
  padding: 0.5em 1em;
  
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  z-index: 1000;
  
  &:has(:checked) {
    background-color: hsl(350deg, 60%, 50%);
  }
}

.coder-army-text input {
  position: absolute;
  opacity: 0;
}






.footer-container {
    height: fit-content;
    width: 100%;
    background: #33086718;
    display: flex;
    color: #fff;
    padding: 2% 5% 0% 5% ;

}
